<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sender</title>
    <style>
        n {
            display: none;
        }
    </style>
    <n id="no"><%- random -%></n>
</head>

<body>
    <input type="file" name="upload" id="input">
    <button onclick="submit();" id="button" disabled>Submit</button>
    <script>
        const filesarr = [];
        const btn = document.getElementById("button");
        const input = document.getElementById("input");
        const Random = document.getElementById("no").innerText;

        input.onchange = (e) => {
            const { files } = e.target;
            [...files].forEach((e, i, a) => {
                const reader = new FileReader();
                reader.readAsDataURL(e);
                reader.onload = (e) => {
                    filesarr.push({ fileName: e.name, data: e.target.result });
                    if (i == a.length - 1) btn.removeAttribute("disabled");
                }
            })
        }

        function submit() {
            if (filesarr.length <= 0) return alert('Please select a file to submit');
            fetch('/sender/' + Random, {
                method: 'POST',
                body: JSON.stringify(filesarr),
                headers: {
                    "Content-Type": "application/json",
                }
            }).then(e => e.text()).then(e => {
                alert(e);
                console.log(e);
            })
        }

        // if user closes window then free up the queue
        document.onvisibilitychange = () => document.visibilityState == 'hidden' && fetch("/freeup/sender/" + Random, { keepalive: true }).then(e => window.close())

    </script>
</body>

</html>