<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/public/js/byteformatter.js"></script>
</head>

<body style="background-color: teal">
    <header>
        <%- include("./partials/navbar.ejs") %>
    </header>
    <section>
        <div style="width:100vw;height:90vh">
            <div class="container mx-auto h-full flex flex-col justify-center items-center">
                <div class="flex w-full justify-center">
                    <div id="multi-upload-button"
                        class="inline-flex items-center px-4 py-2 bg-gray-600 border border-gray-600 rounded-l font-semibold cursor-pointer text-sm text-white tracking-widest hover:bg-gray-500 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition ">
                        Click to select
                    </div>
                    <div class="w-4/12 lg:w-3/12 border border-gray-300 rounded-r-md flex items-center justify-between">
                        <span id="multi-upload-text" class="p-2"></span>
                        <button id="multi-upload-delete" class="hidden" onclick="removeMultiUpload()">
                            <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-red-700 w-3 h-3"
                                viewBox="0 0 320 512">
                                <path
                                    d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <button id="send"
                    class="hidden inline-flex items-center px-4 py-2 bg-gray-600 hover:bg-teal-500 text-white text-sm font-medium rounded-md"
                    style="margin-top:1vh">Send</button>
                <input type="file" id="multi-upload-input" class="hidden" multiple />
            </div>
        </div>

        <script>
            let Loadedfiles = []
            const multiUploadButton = document.getElementById("multi-upload-button");
            const multiUploadInput = document.getElementById("multi-upload-input");
            const multiUploadDisplayText = document.getElementById("multi-upload-text");
            const multiUploadDeleteButton = document.getElementById("multi-upload-delete");

            multiUploadButton.onclick = () => multiUploadInput.click();

            multiUploadInput.addEventListener('change', (event) => {
                if (multiUploadInput.files) {
                    let files = multiUploadInput.files;

                    multiUploadDisplayText.innerHTML = files.length + ' files selected';
                    multiUploadDeleteButton.classList.add("z-100", "p-2", "my-auto");
                    multiUploadDeleteButton.classList.remove("hidden");


                    Object.keys(multiUploadInput.files).forEach(e => {
                        let file = multiUploadInput.files[e];
                        const bsize = byteSize(file.size, {}).toString()

                        let submit = {
                            lastModified: file.lastModified,
                            name: file.name,
                            size: bsize,
                            type: file.type
                        }
                        let reader = new FileReader();
                        reader.readAsArrayBuffer(file);
                        reader.onload = () => {
                            const arrayBuffer = reader.result;
                            submit.ABuffer = arrayBuffer
                            Loadedfiles.push(submit)
                        }
                        reader.onerror = (ev) => {
                            alert(`Error reading: ${ev.message}`);
                        }
                    });
                } else {
                    Loadedfiles = [];
                }
            })



            function removeMultiUpload() {
                Loadedfiles = [];
                multiUploadInput.value = '';
                multiUploadDisplayText.innerHTML = '';
                multiUploadDeleteButton.classList.add("hidden");
                multiUploadDeleteButton.classList.remove("z-100", "p-2", "my-auto");
            }
        </script>
    </section>
    <script src="/public/js/sender.js"></script>
</body>

</html>