<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body style="background-color: teal;">
    <header>
        <%- include("./partials/navbar.ejs") %>
    </header>
    <section id="result">

    </section>

    <script src="/public/js/sender.js" type="module"></script>
</body>

</html>