@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.hero {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 25vh;
}

.no-decroration-a {
  text-decoration: none;
}

.spread {
  margin-bottom: 5%;
}
