<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <title>Home</title>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header class="sticky-sm-top">
        <%- include("../partials/navbar.ejs") %>
    </header>
    <footer class="fixed-bottom">
        <%- include("../partials/footer.ejs") %>
    </footer>
</body>

</html>